body {
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 88vh;
    font-family: "Nunito", sans-serif;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 60px;
  }
  
  header div {    
    background-image: url("../img/Pipe.png");
    background-repeat: no-repeat;
    width: 680px;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 28px;
    color: #f4f4f4;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(235, 235, 235);
    line-height: 55px;
  }
  
  header div p {
    margin: 0 80px;
  }
  
  header button {
    background: #e52521;
    border: 3px solid #f4f4f4;
    border-radius: 10px;
    width: 200px;
    height: 52px;
    font-weight: 400;
    font-size: 28px;
    line-height: 49px;
    text-align: center;
    color: #ffffff;
    margin-right: 80px;
  }
  
  main {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 0 auto;
    width: 60%;
    grid-column-gap: 20px;
    grid-row-gap: 50px;
  }
  
  main img {
    height: 140px;
    width: 140px;
  } 

footer {
    display: flex;
    position: absolute;
    left: 0%;
    bottom:0px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

#musica {  
  background: #e52521;
  background-size: cover;
  width: 800px;
  font-size: 15px;
  color: #ffffff;    
  border-radius: 10px;
  padding: 5px;
}

#player {
    margin-left: 13%;
    width: 300px;
    height: 25px
}